body {
    background-color: #ffffff;
    font-family: "Oswald", sans-serif;
}

#hero {
    height: 70vh;
}

.baner {
    background-color: #1B262C;
    height: 30vh;
    margin: 0;
    padding: 0;
    order: -1;
}

.hero-content {
    width: fill;
    height: 50vh;
    position: relative;
    top: -130px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    min-width: 200px;
    min-height: 200px;
}

.profile-pic > img {
    background-color: rgb(213, 114, 114);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.hero-content > h1 {
    font-size: 40px;
}

.hero-content > p {
    margin: 15px 100px;
    width: 300px;
}

#skills {
    height: fit-content;
    margin: 10px 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-container {
    width: 90%;
    height: fit-content;
    margin: 5% 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-skills {
    font-size: 50px;
    margin: 50px 20px 50px 20px;
}

.skill-1 {
    width: 80%;
    height: fit-content;
    margin-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.skill-1 > img {
    width: 300px;
    margin-left: 5%;
    border-radius: 20px;

}

.skill-1-content {
    width: 500px;
    margin-left: 5%;
}

.skill-2 {
    width: 80%;
    height: fit-content;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.skill-2 > img {
    width: 300px;
    margin-left: 5%;
    border-radius: 20px;

}

.skill-2-content {
    width: 500px;
    margin-left: 5%;
}

#contact {
    background-color: #1B262C;
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact-container {
    width: fit-content;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-container > h3 {
    color: white;
    font-weight: 400;
    font-size: 25px;
}

.btn {
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 30px;
}